@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&family=Montserrat:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  font-family: 'Montserrat', sans-serif;
}

:root {
  --text-color: #202020;
  --main-color: #FFCB47;
  --bg-color: #FAFAFA;
}

body {
  background-color: var(--bg-color);
  background-image: url("/Vector.svg");
  background-repeat: no-repeat;
  background-position: top right; 
  position: fixed; 
}
p {
  opacity: .8;
}

@media (max-width: 1100px) {
  body {
    background-size: 80%;
  }
}